.ce-admin-wrapper {
    margin-right: 20px;
    margin-top: 20px;
    font-size: 14px;
}

.ce-header {
    height: 64px;
    background: #ffffff;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.ce-container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.ce-container h2 {
    font-size: 24px;
}

.ce-iframe {
    margin-left: -20px;
    position: absolute;
    width: calc(100% + 20px);
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.ce-card {
    background-attachment:scroll;
    background-clip:border-box;
    background-color:rgb(255, 255, 255);
    background-image:none;
    background-origin:padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-size:auto;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-shadow:rgba(0, 0, 0, 0.06) 0px 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 2px 1px 0px;
    box-sizing:border-box;
    color:rgba(0, 0, 0, 0.9);
    display:block;
    font-size:15px;
    letter-spacing:normal;
    margin-bottom:24px;
    min-height:150px;
    min-width:200px;
    overflow-x:hidden;
    overflow-y:hidden;
    position:relative;
    transition-delay:0s;
    transition-duration:0.3s;
    transition-property:box-shadow;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-font-smoothing:antialiased;
    padding: 15px;
}

.ce-card h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 5px;
}

.ce-card h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.ce-card h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
}

.ce-card p {
    font-size: 14px;
}

.ce-card ul {
    padding-left: 10px;
}
.ce-card ul li {
    font-size: 14px;
    font-weight: 400;
}

.ce-card .ce-kvp {
    margin-top: 10px;
}

.ce-logo {
    background-image: url(https://assets.creativ.email/images/CMlogo.svg);
    background-size: contain;
    background-position-y: 50%;
    width: 142px;
    height: 41px;
    margin-left: 24px;
    background-repeat: no-repeat;
}

.ce-button-text-primary {
    align-items:center;
    background-color:rgba(0, 0, 0, 0);
    border-bottom-color:rgb(0, 118, 223);
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-bottom-style:none;
    border-bottom-width:0px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgb(0, 118, 223);
    border-left-style:none;
    border-left-width:0px;
    border-right-color:rgb(0, 118, 223);
    border-right-style:none;
    border-right-width:0px;
    border-top-color:rgb(0, 118, 223);
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-top-style:none;
    border-top-width:0px;
    box-shadow:none;
    box-sizing:border-box;
    color:rgb(0, 118, 223);
    cursor:pointer;
    direction:ltr;
    display:inline-flex;
    font-size:14px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:700;
    height:40px;
    justify-content:center;
    letter-spacing:normal;
    line-height:20px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    min-width:0px;
    outline-color:rgb(0, 118, 223);
    outline-style:none;
    outline-width:0px;
    padding-bottom:6px;
    padding-left:8px;
    padding-right:8px;
    padding-top:6px;
    position:relative;
    text-align:center;
    text-decoration-color:rgb(0, 118, 223);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-indent:0px;
    text-rendering:auto;
    text-shadow:none;
    text-transform:none;
    transition-delay:0s, 0s, 0s;
    transition-duration:0.25s, 0.25s, 0.25s;
    transition-property:background-color, box-shadow, border;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    user-select:none;
    vertical-align:middle;
    white-space:nowrap;
    word-spacing:0px;
    writing-mode:horizontal-tb;
    -webkit-appearance:none;
    -webkit-font-smoothing:antialiased;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-border-image:none;
}

.ce-button-text-primary:hover {
    background-color: rgba(0, 118, 223, 0.04);
}

.ce-button-text-primary.destructive {
    color: #D42424;
}

.ce-button-text-primary.destructive:hover {
    background-color: rgba(212, 36, 36, 0.1);
}

.ce-right {
    float: right;
}

.ce-left {
    float: left;
}

.ce-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    line-height: 1.5;
}

/* Input */
.ce-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.ce-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.ce-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.ce-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.ce-checkbox > input:checked,
.ce-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.ce-checkbox > input:checked + span::before,
.ce-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.ce-checkbox > input:checked + span::after,
.ce-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.ce-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.ce-checkbox:hover > input {
    opacity: 0.04;
}

.ce-checkbox > input:focus {
    opacity: 0.12;
}

.ce-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.ce-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.ce-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.ce-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.ce-checkbox > input:disabled {
    opacity: 0;
}

.ce-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.ce-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.ce-checkbox > input:checked:disabled + span::before,
.ce-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}